*                       @Shinaayo07

/app/                   @Shinaayo07
/helm/                  @Shinaayo07
/terraform/             @Shinaayo07
/argocd/                @Shinaayo07
/.github/workflows/     @Shinaayo07
